<!DOCTYPE html>
<!-- saved from url=(0023)http://www.hotread.com/ -->
<html lang="zh" class="root platform-win">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>火星小说，提供最新最热的免费小说在线阅读，各种好看的都市小说、悬疑小说、军事历史小说、玄幻小说、言情小说、穿越小说、耽美小说</title>
    <meta name="keywords" content="小说,网络小说,小说网,免费小说,完本小说,都市小说,悬疑小说,玄幻小说,军事小说,历史小说,言情小说,耽美小说,穿越小说">
    <meta name="description" content="火星小说，提供最新最热的免费小说在线阅读，各种好看的都市小说、悬疑小说、军事历史小说、玄幻小说、言情小说、穿越小说、耽美小说尽汇于此。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Img/favico.ico" rel="shortcut icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta property="wb:webmaster" content="9c7fc0d9e77080c8">
    <meta property="qc:admins" content="0237266277607425146375">
    <link href="~/Content/InkHeart/normalize.min.css" rel="stylesheet" />
    <link href="~/Content/InkHeart/story.min.css" rel="stylesheet" />
    <link href="~/Content/InkHeart/index.min.css" rel="stylesheet" />
    <link href="~/Content/InkHeart/vue-swipe.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div class="hotr-header" id="hotr-header">
        <div class="header-bg">
            <div class="header-main">
                <ul>
                    <li class="logo">
                        <a href="http://www.hotread.com/">
                            <img src="~/Content/Img/logo.png" class="logo" alt="" />
                        </a>
                    </li>
                    <li>
                        <form class="header-search" onsubmit="beforeSearch(this, &#39;越过谎言拥抱你&#39;)" action="http://www.hotread.com/search">
                            <input type="text" name="keyWord" placeholder="越过谎言拥抱你" autocomplete="off" class="search-text">
                            <input type="submit" value=" " class="search-btn">
                        </form>
                        <p class="header-recommend">

                            <a href="http://www.hotread.com/search?keyWord=%E8%B6%8A%E8%BF%87%E8%B0%8E%E8%A8%80%E6%8B%A5%E6%8A%B1%E4%BD%A0">越过谎言拥抱你</a>

                            <a href="http://www.hotread.com/search?keyWord=%E4%B9%9D%E5%9B%BD%E7%A5%9E%E9%81%97">九国神遗</a>

                            <a href="http://www.hotread.com/search?keyWord=%E7%BB%9D%E6%9C%9B%E7%84%9A%E6%A3%BA">绝望焚棺</a>

                            <a href="http://www.hotread.com/search?keyWord=%E8%90%8C%E5%86%9B%E9%A3%8E%E4%BA%91">萌军风云</a>

                            <a href="http://www.hotread.com/search?keyWord=%E8%9B%A4%E8%9F%86%E4%BF%AE%E4%BB%99%E8%AE%B0">蛤蟆修仙记</a>

                        </p>
                    </li>
                </ul>
                <div class="user-state">
                    <a href="~/User">登录</a>
                    |
                    <a href="~/User/Register">注册</a>
                    |
                </div>
            </div>
        </div>
    </div>
    <div class="hotr-nav" id="hotr-nav">
        <ul class="nav-main win-head">
            <li class="on"><a href="http://www.hotread.com/">首页</a></li>
            <li class=""><a href="http://www.hotread.com/girl">女频</a></li>
            <li class=""><a href="http://www.hotread.com/boy">男频</a></li>
            <li class=""><a href="http://www.hotread.com/chart">排行</a></li>
            <li class=""><a href="http://www.hotread.com/library">书库</a></li>
            <li class=""><a href="http://www.hotread.com/copyright" target="_blank">优质版权</a></li>
            <li class=""><a href="http://www.hotread.com/pay">充值</a></li>
            <li><a href="http://author.hotread.com/boon">福利</a></li>
            <li class=""><a href="http://www.hotread.com/download" target="_blank">下载客户端</a></li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer-main">
            <ul class="footer-copyright">
                <li>Beijing Jinying Technology Co., Ltd</li>
                <li>
                    <i>北京金影科技有限公司</i>
                    <i>北京市海淀区信息路甲28号-1层D号-116号</i>
                    <i>©hotread.com</i>
                    <a href="http://www.miibeian.gov.cn/" target="_blank">
                        <i>
                            京ICP备14052851-2
                        </i>
                    </a>
                    <i>TEL:010-59002324</i>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>