
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--注册--> 
<form class="auth-form register-modal" id="div_register" style="margin:0px auto">
    <h2>注册</h2>
    <div class="auth-switch">已有账号？<a href="~/User">立即登录</a></div>
    <div class="form-box">
        <div class="form-group account">
            <div class="form-control"
                 :class="{'has-value': nickName}"
                 data-placeholder="给自己设置一个牛逼的昵称吧~">
                <input type="text" v-model="nickName"
                       :class="{'input-error': !nickName && target == 'nickName'}" />
            </div>
        </div>
        <div class="form-group phone">
            <div class="form-control"
                 :class="{'has-value': mobilePhone}"
                 data-placeholder="请输入11位手机号">
                <input type="text" v-model="mobilePhone"
                       :class="{'input-error': !mobilePhone && target == 'mobilePhone'}" />
            </div>
        </div>
        <div class="form-group note">
            <div class="form-control"
                 :class="{'has-value': clientCode}"
                 data-placeholder="请输入短信验证码">
                <input type="text" v-model="clientCode"
                       :class="{'input-error': !clientCode && target == 'clientCode'}" />
            </div>
        </div>
        <div class="form-group password">
            <div class="form-control"
                 :class="{'has-value': password}"
                 data-placeholder="请输入密码">
                <input type="password" v-model="password"
                       :class="{'input-error': !password && target == 'password'}" />
            </div>
        </div>
        <div class="form-group password-confirm">
            <div class="form-control"
                 :class="{'has-value': confirmPassword}"
                 data-placeholder="请确认密码">
                <input type="password" v-model="confirmPassword"
                       :class="{'input-error': !confirmPassword && target == 'confirmPassword'}" />
            </div>
        </div>
        <div class="form-group verify-box">
            <div class="form-control"
                 :class="{'has-value': code}"
                 data-placeholder="请输入验证码">
                <input type="text" v-model="code"
                       :class="{'input-error': !code && target == 'code'}" />
            </div>
            <img :src="captcha" class="verify" />
            <span class="verify-btn">换一换</span>
        </div>
        <div class="submit-box">
            <input type="submit" value="注册" class="submit" />
        </div>
    </div>
</form>
